@media only screen and (max-width: 500px) {
    .pvalid, #frame1 {
    text-align:justify;
    padding-left:2%;
    padding-right:2%;
    
}  
    .secheader{
    padding-left:5%;
    padding-right:5%;
    text-align:center;
}

}

@media only screen and (min-width: 600px) {
   .pvalid, #frame1 {
    text-align:justify;
    padding-left:15%;
    padding-right:15%;
}
    .secheader{
    padding-left:10%;
    padding-right:10%;
    text-align:center;
}
    
}
@media only screen and (min-width: 768px) {
.pvalid, #frame1 {
    text-align:justify;
    padding-left:21%;
    padding-right:21%;
}
.secheader{
    padding-left:10%;
    padding-right:10%;
    text-align:center;
}
    
}
#button1, #button2, #button3, #button4, #button5, #button6, #button7, #button8, #button11, #button12, #button13, #button14 {
    border:1px solid;
}
#frame1, #button21{
	margin:auto;
	display:block;
}

